<div class="container mt-5 mb-5">
    <div class="row row-centered">
        <form class="col-sm-12 col-centered" action="/app/reviews/search/" method="GET">
            <div class="form-group">
                <label for="reviewFetch"><b>For which items should it fetch reviews?</b></label>
                <input type="text" id="reviewFetch" name="reviewFetch" class="form-control col-sm-4 text-center"
                    aria-describedby="reviewFetch" placeholder="Type the item here" autocomplete="off" />
            </div>
            <input id="submit" class="btn btn-primary" type="submit" value="Fetch!" />
        </form>
    </div>
</div>