<div class="container">
  <div class="jumbotron mt-5 p-5">
    <h1 class="display-4 text- fourohfour">404<br />HIT DIDN'T MATCH</h1>
    <img src="https://media.giphy.com/media/9SJazLPHLS8roFZMwZ/giphy.gif" alt="404notfoundgiphy">
    <h4>{{qErr}}</h4>
    <a class="btn btn-warning" href="/">← Home</a>
  </div>
</div>