<div class="container mt-5">
  <div class="row row-centered">
    <form class="col-sm-12 col-centered" action="/api/search/" method="POST">
      <div class="form-group">
        <label for="item_title"><b>Find Your Item</b></label>
        <input type="text" id="item_title" name="item_title" class="form-control col-sm-4 text-center"
          aria-describedby="item_title" placeholder="Type the item here" autocomplete="off" />
      </div>
      <input id="submit" class="btn btn-primary" type="submit" value="Search!" />
    </form>
  </div>
</div>